<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div th:if="${param.logout}" class="logged-msg">
    You have been successfully logged out.
</div>

<div th:if="${param.error}" class="error-msg">
    Invalid username and password.
</div>
<div class="container">

    <h1 class="heading">Login page</h1>
    <form method="post" th:action="@{/authenticateTheUser}">

        <div class="username log-input">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="username">
        </div>

        <div class="password log-input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="password">
        </div>

        <button type="submit" class="submit">Login</button>
    </form>

    <p>Don't have a account <a href="#">Register here</a></p>
</div>
</body>
</html>